body{
    background: black;
    margin: 0;
}
.line{
    border-right: 1px solid white;
    width: 0;
    height: 100%;
    position: fixed;
}
.line_bottom{
    border-bottom: 1px solid white;
    width: 100%;
    position: fixed;
}
.target{
    position: relative;
    top: 0;
    left: 0;
}
.cordinates{
    color: white;
    position: fixed;
}