@value makerGreen from '../../common/color.css';
@value makerWhite from '../../common/color.css';
.preview{
    flex-basis: 50%;
    background: makerWhite;
    overflow: auto;
}
.preview::-webkit-scrollbar {
    display: none; 
}
.preview ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
    color: makerGreen;
}